html {
	background: #2b2b40;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
	color: #00a4ca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}

.main-title {
	font-weight: 700;
	font-size: 3em;
}

h1 {
	font-weight: 700;
	font-size: 2.3em;
	margin: 0 0 30px 0;
}

h2 {
	font-weight: 700;
	font-size: 1.8em;
	margin: 0 0 10px 0;
}

h3 {
	margin: 20px 0 10px 0;
}

p, address, td {
	font-size: 1.38em;
	margin-bottom: 20px;
	font-weight: 400;
	line-height: 1.4em;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

td {
	white-space: nowrap;
}

div.cell-wrapper {
	overflow: scroll;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

thead {
	background-color: #2b2b40;
	td {
		color: white;
		font-weight: bold;
	}
}

li {
	font-size: 1.38rem;
}